@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
}
:root {
  --primary-color: #227fdc;
  --gray-color: #f3f3f3;
}
